@import 'utils/vars';
@import 'components/example';
@import 'components/footer';
@import 'components/form';
@import 'components/header';
@import 'components/hero';
@import 'components/logo';
@import 'components/modal';
@import 'components/our-clients';
@import 'components/our-team';
@import 'components/portfolio';
@import 'components/what-we-do';
@import 'components/mobile-menu';

* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
img {
    vertical-align: middle;
    display: block;
    height: auto;
    max-width: 100%;
  }
.page-content {
    font-family: 'Roboto', sans-serif;
    color: $primaryFontColor;
}
.container {
    max-width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width:1200px) {
    .container {
        max-width:1200px;
    }
}