.example {
    display: flex;
    gap: 30px;
    
    &__image {
        background-color: $backgroundColor;
        border-radius: 4px;
        margin-bottom: 30px;
        padding: 25px 100px;
    }
    &__header {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
    }
    &__content {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: $secondaryFontColor;
    }
}