.form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    &__elements {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &__label {
        position: relative;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $secondaryFontColor;
        letter-spacing: 0.01em;
    }
    &__input {
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
    }
    &__elements:focus-within {
        .form__input {
            border: 1px solid #2196F3;
        }
        .form__icon {
            fill: #2196F3;
        }
    }
    &__input-textarea {
        height: 120px;
        resize: none;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
    }
    &__input-textarea::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    &__submit {
        padding: 10px 76px;
        width: 200px;
        height: 50px;
        background-color:$brandColor;
        color: $whiteColor;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        border: none;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 25%;
        margin-top: 30px;
        cursor: pointer;
    }
    &__icon {
        position: absolute; 
        top: 32px;
        left: 12px;
    }
    &__checkbox {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.03em;
        position: relative;
       
    }
    &__checkbox-input {
        border: 2px solid #212121;
        border-radius: 2px;
        width: 16px;
        height: 15px;
        appearance: none;
    }
    &__checkbox-regulations {
        color:#2196F3;
        text-decoration: underline;
    }
    &__checkbox-custom-icon {
        position: absolute;
        left: 0;
        bottom: 4px;
        opacity: 0;
        border-radius: 2px;
        fill: #fff;
    }
    &__checkbox-input:checked {

       +.form__checkbox-custom-icon {
            background-color: #2196f3;
            border-color: #2196f3;
            opacity: 1;
        }
    }
}

@media screen and (max-width:480px) {
    .form {
        &__checkbox-custom-icon {
            bottom: 18px;
        }
        &__submit {
            margin-left: 15%;
        }
    }
}

@media screen and (min-width:1200px) {
    .form {
        &__checkbox {
            font-size: 14px;
            line-height: 24px;
        }
        &__checkbox-custom-icon {
            bottom: 7px;
        }
    }
}