.logo {
    color: $brandColor;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.03em;

    &--second-part {
    color: $secondaryLogoColor;
    }
    &--footer {
        color: $whiteColor;
    }
    
}