.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.modal {
    position: absolute;
    top: calc(50% - 304px);
    left: calc(50% - 225px);
    width: auto;
    background-color: $whiteColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: scale(1);
    padding: 40px;
    transition: transform 500ms ease;

    &__close-button {
        position: absolute;
        right: 8px;
        top: 8px;
        width: 30px;
        height: 30px;
        background: $whiteColor; 
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;
    }
    &__header {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $primaryFontColor;
        margin-bottom: 12px;
      }
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms 500ms ease, visibility 500ms 500ms ease,
    transform 500ms 500ms ease;

    .modal {
        transform: scale(0.5);
    }
}
@media screen and (max-width:480px) {
    
    .modal {
        max-width: 360px;
        left: calc(50% - 180px);
        top: auto;
        
    }
}
@media screen and (min-width:768px) {
    .modal {
        left: calc(50% - 225px);
        top: auto;
    }
}

@media screen and (min-width:1200px) {
    .modal {
        max-width: 528px;
        top: calc(50% - 290px);
        left: calc(50% - 264px);
        &__header {
            line-height: 23px
        }
    }
    
}