.team {
    padding-top: 94px;
    padding-bottom: 94px;

    &--bgcolor {
        background-color: $backgroundColor;
    } 
    &__image img {
        width: 100%;
        height: auto;
    }
    &__header {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 30px;
    }   
    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }
    &__list-item {
        box-shadow: 0px 2px 1px 0px #00000033;
        box-shadow: 0px 1px 1px 0px #00000024;
        box-shadow: 0px 1px 3px 0px #0000001F;
        border-radius: 0px 0px 4px 4px;
        background: #FFFFFF;
    }
    &__employee-name {
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-weight: medium;
        letter-spacing: 0.03em;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    &__employee-job {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        color: $secondaryFontColor;
        font-size: 16px;
        letter-spacing: 0.03em;
    }
    &__social-list {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-bottom: 30px;
    }
    &__social-link {
        fill: $thirdBackgroundColor;
        transition: fill 250ms $primaryTransition;
    }
    &__social-link-wrapper {
        background-color: $whiteColor;
        border-radius: 50%;
        transition: background-color 250ms $primaryTransition;
    }
    &__social-link:hover,
    &__social-link:focus {

        .team__social-icon {
            fill: $whiteColor;
            cursor: pointer;
        }
        .team__social-link-wrapper {
            background-color: $brandColor;
            cursor: pointer;
        }
    }
}

@media screen and (min-width:768px) {
    .team {
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__list-item {
            max-width: 354px;
        }
    }
}

@media screen and (min-width:1200px) {
    .team {

        &__header {
            font-size: 36px;
            margin-bottom: 50px;
        }
        &__list {
            justify-content: center;
        }
        &__list-item {
            max-width: 270px;
        }
    }
}