.what-we-do {
    display: none;
}
@media screen and (min-width:768px) {
    
}
@media screen and (min-width:1200px) {
    .what-we-do {
        display: block;
        padding-top: 0px;

        &__header {
            text-align: center;
            margin-bottom: 50px;
            font-size: 36px;
            font-weight: bold;
        }
        &__list {
            display: flex;
            justify-content: center;
            gap: 30px;
        }
        &__list-item {
            position: relative;
        }
        &__list-item-description {
            position: absolute;
            left: 0;
            bottom: 3px;
            padding-top: 27px;
            padding-bottom: 27px;
            width:100%;
            background-color: $whatwedoDescriptionBackground;
            text-transform: uppercase;
            color: $whiteColor;
            text-align: center;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 0.03em;
            line-height: 16px;
        }
    }
}